.list {
  width: 100%;
  max-width: 90%;
  margin: 40px auto 0 auto;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.item {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}
.item_title {
  width: 70%;
}
.item p {
  margin-left: auto;
}
