.list {
  width: 100%;
  max-width: 90%;
  margin: 40px auto 0 auto;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.item {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}
.item_title {
  width: 70%;
}
.item p {
  margin-left: auto;
  color: green;
}
.notCompleted {
  color: red !important;
}
.item button {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px 15px;
  margin-left: 20px;
  cursor: pointer;
}
.item button:hover {
  border: 1px solid #000;
}
